{% extends 'articles/base.html' %}

{% block content %}
<div class="my-bio container my-3">
	<!-- align-items-center aligns each cell in the center vertically -->
	<div class="row align-items-center">
		<div class="col-md-4 col-xs-3 colalign-self-stretch mt-3 pb-4">
			<img src="static/img.jpg" width="250px"></br>
		</div>
		<div class="col-md-8  col-xs-6 pt-3">
			<h1>Karan Kumar</h1>
			<p>Quick learner and a technology enthusiast with experience in IT infrastructure primarily in Python development, Linux,  DevOps & Automation. Substantial knowledge of several  DevOps/AWS tools,  automating daily tasks using  Bash/Python scripting, building WebApps in Django Framework  and configuration management. </p>
		</div>
	</div>
</div>

<div class="container"  id="skills">
	<h1 class="skills mb-4">Primary Skills</h1>
	<div class="accordion" id="accordionExample">
		<div class="card my-2">
		  <div class="card-header" id="headingOne">
			<h2 class="mb-0">
			  <button class="btn btn-link collapsed skill-head" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
				Scripting
			  </button>
			</h2>
		  </div>
	  
		  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="card-body">
				<ul>
				<li>Helped my project/client (Equinor @Norway) to reduce daily tickets count by 20%  by automating the reboot multiple hung RGS servers using python to fetch dead hosts information using API and bash script to reboot them. </li>
				<li>Helped my project/client (Equinor @Norway) with automation of multiple Unix tasks using bash shell scripting and python scripting : ‘health-checks’,  ‘FileSystem monitoring’ and ‘Web Scraping’ to collect servers information via command line.</li>
				<li>Helped the team by building a script for  ‘HPC Cluster jobs handling’  which helped reduce the ticket(alerts) count by 40%</li>
				<li>Helped team with writing bash script (single handedly) to monitor NFS shared storage Read/Write speed checks which logs shared storage details and their speeds.</li>
				<li>Helped team with writing a bash script (single handedly) to upgrade the ‘firmware’ of the entire cluster.</li>
				</ul>
			</div>
		  </div>
		</div>
		<div class="card my-2">
		  <div class="card-header" id="headingTwo">
			<h2 class="mb-0">
			  <button class="btn btn-link collapsed skill-head" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				DevOps
			  </button>
			</h2>
		  </div>
		  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
			<div class="card-body">
				<ul>
				<li>Deployed the website on Docker containers by writing the Dockerfiles and orchestrating using Docker Swarm.</li>
				<li>Knowledge of Deploying website on AWS Elastic Beanstalk using GIT (VCS) and writing the CI/CD pipeline using Travis CI.</li>
				<li>Self built a basic WebApp (in Django Framework) and wrote a CI/CD pipeline script on Jenkins to deploy the WebApp on AWS instance using Docker single handedly.   </li>
				<li>Kubernetes Certified Administrator (CKA 2020)</li>
				</ul>		
			</div>
		  </div>
		</div>
		<div class="card my-2">
		  <div class="card-header" id="headingThree">
			<h2 class="mb-0">
			  <button class="btn btn-link collapsed skill-head" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				Web Development
			  </button>
			</h2>
		  </div>
		  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
			<div class="card-body">
			  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			</div>
		  </div>
		</div>
	  </div>
</div>


<div class="bg-custom">
	<div class="container">
		<h1 class="article-list">Colleague Reviews</h1><hr>
		{% for post in posts %}
			<div class="card">
				<h5 class="title"><a class="tits" href="{% url 'this_post' post_id=post.id %}" style="text-decoration: none;">{{ post.title }}</a></h5>
				<p class='small'>{{ post.date }}</p>	
				<p1>{{ post.snippet }}</p1>
				<hr>
			</div>
		{% endfor %}
		<a class = "see-more" style="text-decoration: none;" href="{%url 'all_reviews'%}">Read all reviews</a>		
		
	</div>	
</div>
{% endblock %}
