{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Blog App</title>

	<link rel="stylesheet" href="static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<!-- Compiled and minified CSS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">   
</head>

<body>
<div class="shadow-sm bg-white rounded">
<nav class="navbar navbar-expand-lg navbar-dark">
<div class="container">
  <a class="navbar-brand" href="{% url 'articles_list' %}"><h3>portfolio
  	<img src="/static/book.svg"></h3>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      {%if request.user.is_authenticated %}
      <li class="nav-item active">
        <form class="logout" id="form1" action="{%url 'logout'%}" method="POST">
          {%csrf_token%}
          
          <button type="submit" class="btn logout" form="form1">logout</button> 
        </form>
      </li>    
      {%else%}

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'register' %}">register <span class="sr-only">(current)</span></a>
      </li>

      {%endif%}

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control  searchbox mr-sm-2" type="search" placeholder="" aria-label="Search">
      <a class="pl-1 my-2 my-sm-0 text-white" type="submit"><h5>search</h5></a>
    </form>
  </div>
 </div>
</nav>
</div>

  </br>
  	<!-- <div class="container mb-5"> -->
  		{% block content %}
  		{% endblock %}
  	<!-- </div> -->


    <!-- footer -->

    <!-- Footer -->

    <hr>
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center">

    <!-- Grid row -->
    <div class="row justify-content-center">

          <div class="col-md-4 mb-md-0 mb-3">
            <h5 class="linkedin">linkedin</h5>
                <a href="https://www.linkedin.com/in/karan-kumar-456098127/" target="_blank"><img class=""src="static/linkedin.png" width="52px"></a>
          </div>

          <hr class="clearfix w-100 d-md-none pb-3">

          <div class="col-md-4 mb-md-0 mb-3">
            <h5 class="github">github</h5>
                <a href="http://www.github.com/karankumarshreds" target="_blank"><img class="ml-2"src="static/github.png" width="50px"></a>
          </div>

          <hr class="clearfix w-100 d-md-none pb-3">

          <div class="col-md-4 mb-md-0 mb-3">
            <h5 class="github">youtube</h5>
                <a href="https://www.youtube.com/channel/UCdRApWMru7-sUxdvF6VZA1w" target="_blank"><img class="ml-2"src="static/youtube.png" width="50px"></a>      
          </div>
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
</br>
  <div class="footer-copyright text-center mt-2 py-3">© 2020 Copyright:
    <a href="#" class="footer-copyright"> karan-kumar.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</body>
</html>


